* {
    border:        none;
    border-radius: 0;
    font-family:   "JetBrains Mono", monospace;
    font-size:     14px;
    font-weight:     bold;
    background: rgba(255, 255, 255, 0);
    color: white;
    min-width:  2px;
    min-height: 2px;
}

window {
    padding-left: 2px;
    padding-right: 2px;
}

#workspaces {
    background-color: rgba(77, 77, 77, 0.2);
}

#clock {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 4px;
    padding-right: 4px;
    color: #2D2423;
}

#battery {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    color: #4d4d4d;
}
