@import url("/home/lessi/.cache/wal/colors-waybar.css");

* {
    font-family:   "JetBrains Mono", monospace;
    font-size:     12px;
    color: @foreground;
    padding-left: 1px;
    padding-right: 1px;
}

window#waybar {
	background: @background;
	border: 1px solid @color1;
	border-radius: 2px;
}
